@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}

header {
	padding: .5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.lang{
	position: relative;
	margin-right: 1.5rem;
}
.lang i{
	font-size: 1.5rem;
}
.lang.active .options{
	opacity: 1;
}
.options{
	opacity: 0;
	position: absolute;
	left: -50px;
	background: #fff;
	border: 1px solid #EBEBEB;
	border-radius: .3rem;
}
.options p{
	padding: .3rem .6rem;
}
.options p:hover{
	background: #EBEBEB;
}
main{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 70vh
}
.title{
	font-size: 1.6rem;
	color: #323232;
	font-weight: 600;
	text-align: center;
	margin: 1.5rem 1rem 1rem 1rem;
}
.text{
	font-size: .8rem;
	font-weight: 400;
	text-align: center;
	margin: 0 1rem;
}
form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 300px;
	max-width: 350px;
	margin: 1rem auto;
}

input[type="text"] {
	border: 1px solid #DBDBDB;
	color: #323232;
	outline: none;
	padding: .5rem 1rem;
	font-size: 1rem;
	width: 100%;
	margin-bottom: 1rem;
	border-radius: .5rem;
}

#btn {
	font-size: 1rem;
	background-color: #047DD6;
	color: #fff;
	padding: .7rem 1rem;
	border-radius: 1rem;
	outline: none;
	border: none;
	font-weight: 400;
	width: 100%;
}
